.myassingment-main {
  width: 100%;
  height: auto;
  padding: 20px;
}

.myassingments-cardd21{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(249, 51, 51, 0.11);
  border: solid 1px #f93333;
}

.myassingmentss-childss12 {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  border-radius: 20px;
  background: transparent;
  gap: 150px;
}
.myassingments-childss-Data1 {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  gap: 7px;
}
.myassingments-childs-dateAb {
  width: 50px;
  height: 50px;
  background: #f93333;
  border-radius: 50%;
}
.myassingments-childs-dateAb p {
  margin-top: 7px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
}
.Mychildss-myassingmentss1 {
  align-items: center;
}
.Mychildss-myassingmentss1 h6 {
  display: flex;
  font-size: 12px;
  color: #333;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
}

.myassingments-tiMMe p {
  margin: 0;
}
.Myassingments-motherM {
  display: flex;
  font-size: 10px;
  gap: 6px;
}

/* div2............................................... */

.myassingments-card-childs-3m {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 20px;
  align-items: center;
}


.descriptions-s1 h5 {
  color: #f93333;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.descriptions-s1 p {
  color: var(--Gray-700, #4e5566);
  font-size: 11px;
  font-weight: 400;
  text-transform: capitalize;
}

/* div3............................................... */

.mychilds-myassingments-dovh h4 {
  color: #f93333;
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
}
.mychilds-myassingments-dovh{
  display: flex;
  gap: 60px;
}
.mychilds-myassingments-dovh button {
  color: #f93333;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  border-radius: 7px;
  border: 1px solid #F93333;
  height: 34px;
  background-color: transparent;
  align-items: center;
}
.mychilds-myassingments-icoNs{
  display: flex;
  gap: 10px;
  align-items: center;
}



