.myschedule-main {
  width: 366px;
  margin: auto;
}
.myschedule-heading {
  width: 313px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myschedule-heading h1 {
  color: #333;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
}
.myschedule-heading span {
  color: #00afef;
  text-align: center;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 700;
}
.myschedule-child {
  width: 313px;
  display: flex;
  height: 100px;
  align-items: center;
  border-radius: 20px;
  background: #f0f7ff;
}
.myschedule-child-data {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  gap: 7px;  
}
.myschedule-child-date {
  width: 50px;
  height: 50px;
  background: #00afef;
  border-radius: 50%;
}
.myschedule-child-date p {
  margin-top: 7px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;

}
.mychild-myschedule {
  align-items: center;
  margin-top: 15px;
}
.mychild-myschedule h6 {
  display: flex;
  font-size: 12px;
}
.mychild-myschedule h6 {
  color: #333;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 700;
}
.mychild-myschedule .myschedule-time {
  display: flex;

}
.mychild-myschedule .myschedule-time p {
  color: #8a8a8a;    
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 700;
}
.myschedule-time .dot{
margin: 0;
}
.myschedule-icon{
    margin-left: 30px;
}
.myschedule-time{
  display: flex;
  flex-direction: column;
}
.myschedule-time p{
  margin: 0;
}
.myschedule-mother{
  display: flex;
  font-size: 10px;
  gap: 6px;
}
.myschedule-time .last-text{
  font-size: 5px;
  color: red;
}
